.card {
  border-radius: 15px;
}

.card-action{
  border:1px solid black;
  height: 40px;
}

.right {
  position: relative;
  right: 5px;
  bottom:9px;
}

.card-title, .likes {
  font-weight: bold;
}

.left {
  position: relative;
  bottom:9px;
  color:white;
}

.mat-icon:hover{
  opacity: 0.7;
  cursor:pointer;
}

mat-icon {
  color:white;
  margin: auto 10px;
}
